resources/noaa/coastwatch/io/dataset.dtd

<!-- 

     File: dataset.dtd
   Author: Peter Hollemans
     Date: 2004/02/01

  CoastWatch Software Library and Utilities
  Copyright (c) 2004 National Oceanic and Atmospheric Administration
  All rights reserved.

  Developed by: CoastWatch / OceanWatch
                Center for Satellite Applications and Research
                http://coastwatch.noaa.gov

  For conditions of distribution and use, see the accompanying
  license.txt file.

-->

<!ELEMENT dataset (info, variable*)>

<!ELEMENT info (startDate, endDate?, instrument, origin, history?, 
  (mapTransform|swathTransform|masterFile))>
<!ELEMENT startDate (#PCDATA)>
<!ELEMENT endDate (#PCDATA)>
<!ELEMENT instrument (satellite, sensor)>
<!ELEMENT satellite (#PCDATA)>
<!ELEMENT sensor (#PCDATA)>
<!ELEMENT origin (#PCDATA)>
<!ELEMENT history (#PCDATA)>

<!ELEMENT mapTransform (projection, (affineProperties|affineTransform))>
<!ELEMENT projection (system, zone?, parameters, datum)>
<!ELEMENT system (#PCDATA)>
<!ELEMENT zone (#PCDATA)>
<!ELEMENT parameters (#PCDATA)>
<!ELEMENT datum (#PCDATA)>
<!ELEMENT affineProperties (rows, columns, centerLatitude, centerLongitude, 
  pixelWidth, pixelHeight)>
<!ELEMENT rows (#PCDATA)>
<!ELEMENT columns (#PCDATA)>
<!ELEMENT centerLatitude (#PCDATA)>
<!ELEMENT centerLongitude (#PCDATA)>
<!ELEMENT pixelWidth (#PCDATA)>
<!ELEMENT pixelHeight (#PCDATA)>
<!ELEMENT affineTransform (#PCDATA)>

<!ELEMENT swathTransform (latitudeVariable, longitudeVariable)>
<!ELEMENT latitudeVariable (#PCDATA)>
<!ELEMENT longitudeVariable (#PCDATA)>

<!ELEMENT masterFile EMPTY>
<!ATTLIST masterFile path CDATA #REQUIRED>

<!ELEMENT variable ((dataType, dimensions, dataStrings, calibration,
  fillValue, (dataValues|binaryFile|textFile)) | (dataStrings?, 
  calibration?, fillValue?, hdfFile))>
<!ATTLIST variable name CDATA #REQUIRED>
<!ELEMENT dataType (#PCDATA)>
<!ELEMENT dimensions (#PCDATA)>
<!ELEMENT fillValue (#PCDATA)>
<!ELEMENT dataValues (#PCDATA)>

<!ELEMENT dataStrings (longName, units, format)>
<!ELEMENT longName (#PCDATA)>
<!ELEMENT units (#PCDATA)>
<!ELEMENT format (#PCDATA)>

<!ELEMENT calibration (scale, offset)>
<!ELEMENT scale (#PCDATA)>
<!ELEMENT offset (#PCDATA)>

<!ELEMENT binaryFile (byteOrder?, headerBytes?, recordBytes?,
  offsetBytes?)>
<!ATTLIST binaryFile path CDATA #REQUIRED>
<!ELEMENT byteOrder (#PCDATA)>
<!ELEMENT headerBytes (#PCDATA)>
<!ELEMENT recordBytes (#PCDATA)>
<!ELEMENT offsetBytes (#PCDATA)>

<!ELEMENT textFile (headerLines?, recordFields?, fieldOffset?, delimiter?)>
<!ATTLIST textFile path CDATA #REQUIRED>
<!ELEMENT headerLines (#PCDATA)>
<!ELEMENT recordFields (#PCDATA)>
<!ELEMENT fieldOffset (#PCDATA)>
<!ELEMENT delimiter (#PCDATA)>

<!ELEMENT hdfFile (sds)>
<!ATTLIST hdfFile path CDATA #REQUIRED>
<!ELEMENT sds (#PCDATA)>
